body {
  background-color: rgba(128, 128, 128, 0.5);
}
.card {
  margin: 100px;
  display: flex;
  width: 160px;
  height: 200px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  transform: rotate(20deg) skew(-10deg, -5deg);
  transition: background-color 500ms linear, font-size 500ms linear,
    box-shadow 500ms linear;
}
.card:hover {
  color: white;
  font-size: 24px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 3px, rgba(0, 0, 0, 0.4) 10px 6px,
    rgba(0, 0, 0, 0.3) 15px 9px;
  border: 3px solid black;
}
.card-b {
  margin: 100px;
  width: 190px;
  height: 254px;
  background-image: linear-gradient(170deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}
.card2 {
  width: 190px;
  height: 254px;
  background-color: #1a1a1a;
  border-radius: 20px;
  transition: all 0.2s;
}
.card2:hover {
  transform: scale(0.98);
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}
